Package: com.nahtedetihw.fullplay
Name: FullPlay
Version: 1.4
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
