Package: althiometer.fullplay
Name: FullPlay
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Music.app, but better.
Maintainer: althiometer
Author: althiometer
Section: Tweaks
