Package: althiometer.fullplay
Name: FullPlay
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Music.app, but better.
Maintainer: althiometer
Author: althiometer
Section: Tweaks
Version: 1.1
Installed-Size: 200
